@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400&display=swap');

body {
    font-family: 'Libre Bodoni', serif;
    margin: 0;
    padding: 0;
    background: url('../images/background1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    height: 100vh;
}

nav {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 50px;
}

nav ul li {
    width: 100%;
    margin-bottom: 15px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    font-family: 'Libre Bodoni', serif;
}

nav ul li a:hover {
    background: rgba(0, 51, 102, 0.5);
    color: #fff;
    box-shadow: 0 0 5px #3399ff;
}

nav ul li a.active {
    background: none;
    box-shadow: none;
}

nav ul li a.active:hover {
    background: rgba(0, 51, 102, 0.5);
    color: #fff;
    box-shadow: 0 0 5px #3399ff;
}

.social-icons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 20px; 
}

.social-icons a {
    transition: transform 0.3s, border 0.3s;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

.social-icons a:nth-child(2) img {
    position: relative;
    top: -5px; 
}

.social-icons a:nth-child(3) img {
    position: relative;
    top: -3px; 
}

.social-icons a:hover img {
    opacity: 1;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #3399ff);
}

main {
    padding: 20px;
    text-align: center;
    flex: 1;
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    padding-left: 10px; 
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item.email {
        margin-left: 7px;
}
    
.contact-item.linkedin {
        margin-left: 10px;
}
    
.contact-item.github {
        margin-left: 10px;
}
    
.contact-item.phone {
        margin-left: 10px;
}

.contact-item img {
    width: 32px;
    height: 32px;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

.contact-item a, .contact-item span {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s, filter 0.3s;
}

.contact-item a:hover, .contact-item span:hover {
    color: #3399ff;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #3399ff);
}

footer {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ccc;
}

footer a {
    color: #0a84ff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
    nav {
        width: 200px;
    }

    main {
        margin-left: 220px;
    }

    nav ul li a {
        padding: 8px 16px;
    }

    .contact-item img {
        width: 28px;
        height: 28px;
    }

    .contact-info {
        padding-left: 5px;
    }

    footer {
        padding: 5px 0;
    }
}

@media (max-width: 480px) {
    nav {
        width: 150px;
    }

    main {
        margin-left: 170px;
    }

    nav ul li a {
        padding: 6px 12px;
    }

    .contact-item img {
        width: 24px;
        height: 24px;
    }

    .contact-info {
        padding-left: 0;
    }

    footer {
        padding: 5px 0;
    }
}
